<div class="nav-item-container">  
    <h2>REQUEST MEMBERSHIP</h2>
    <ul class="nav-item-list">
        <li><a routerLink="/personalInformation" routerLinkActive="active">Personal Information</a></li>
        <li><a routerLink="/committees" routerLinkActive="active">Committee(s)</a></li>
        <li><a routerLink="/profileInformation" routerLinkActive="active">Profile Information</a></li>
        <li><a routerLink="/termsAndAgreement" routerLinkActive="active">Terms & Agreement</a></li>
    </ul>
</div>