@import "./../variables";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
}

.main-container {
    display: flex;
}

.ib-header {
    height: 60px;
    display: flex;
    align-items: center;
}

.ib-sidenav {
    width: 25%;
    min-height: 100vh;
    background-color: $blueColor;
}

.ib-selected-content {
    width: 75%;
    height: 100%;
    overflow-y: auto;
    background-color: $bgGrey;
}

.sub-content {
    width: 500px;
    margin: auto;
}

.mb-nav {
    display: none;
}

@media only screen and (max-width: 480px) {
    .main-container{
        display: block;
        width: calc(100% - 20px);
        padding: 10px 10px 0px 10px;
        background-color: $bgGrey;
    }
    .search-select {
        width: 100%;
    }
    .ib-sidenav {
        display: none;
    }
    .ib-selected-content{
        width: 100%;
    }
    .sub-content {
        width: 100%;
    }
    .mb-nav {
        display: block;
    }
}