/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
}

h1 {
    font-size: 28px;
    font-weight: normal;
}

h2 {
    font-size: 20px;
    font-weight: normal !important;
}

h3 {
    font-size: 16x;
    font-weight: normal;
}

.search-select {
    width: 40%;
    height: 50px;
    background-color: #00A5D8;
    color: #ffffff;
    text-align: center;
}